ODOO_DB_HOST=db
ODOO_DB_PORT=5432
ODOO_DB_NAME=postgres
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=change_me
ODOO_ADMIN_PASSWD=change_admin_me

POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=change_me
