# macOS
.DS_Store

# Python virtual environment
.venv/
venv/
env/

# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Tool cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE / Editor
.vscode/
.idea/

# Environment secrets
.env
